<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="application.properties"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--<typeAlias alias="templateType" type="com.bin.demo.entity.TemplateType" />单个-->
        <package name="com.bin.demo.entity" />
    </typeAliases>
    <mappers>
        <mapper resource="myMapper.xml"/>
    </mappers>
</configuration>