<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bin.demo.dao.UserMapper">
    <select id="queryUser" resultType="com.bin.demo.entity.User">
        SELECT user_id,
               user_name
          FROM user_t
    </select>
</mapper>